mixin header(param)
	<header class="header">
			<h1 class="header__title">Alexandr Oleynichenko</h1>
			<b class="header__subtitle">Frontend development</b>
			<a href="https://oleynichenko.github.io/resume/en.html" class="header__email">Resume</a> 
	</header>