mixin header(param)
	<header class="header">
			<h1 class="header__title">Александр Олейниченко</h1>
			<b class="header__subtitle">Веб-разработка</b>
			<a href="mailto:oleynichenkos@gmail.com" class="header__email">oleynichenkos@gmail.com</a> 
	</header>