$tablet-width: "(min-width: 1100px)";
$tablet-width-additional: "(min-width: 980px)";
$desktop-width: "(min-width: 1350px)";
$mobile-width-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
