.header {
	@include container-fluid;
	margin-bottom: 7%;	
	margin-top: 8%
}

.header__title {
	@include font-accent(36px, 42px);	
	margin-bottom: 8px;
}

.header__subtitle {
	display: block;	
	margin-bottom: 26px;	
	padding-left: 5px;	
	@include font(24px, 30px);		
}

.header__email {
	display: block;
	@include font(16px, 20px);	

	padding-left: 5px;	
	padding-bottom: 10px;
}

@media #{$tablet-width} {
	.header {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		margin-bottom: 3%;
		margin-top: 4%;	
	}
}