<!-- images 955*495 655*655 -->

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Alexandr Oleynichenko - Portfolio</title>
	<meta name="description" content="Портфолио веб-разработчика и дизайнера Александра Олейниченко">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|PT+Serif:400,400i&amp;subset=cyrillic" rel="stylesheet">
	include partials/_page_head.pug
</head>
<body>
	include partials/_header.pug
	+header()
	<div class="description">
		<section class="description__block">
			<h3 class="description__block-title">Websites Features</h3>
			<ul class="description__block-list">
				<li class="description__block-item">Cross-browser compatibility (IE11+)</li>
				<li class="description__block-item">Responsive vs. Adaptive Design</li>
				<li class="description__block-item">Semantic markup</li>
				<li class="description__block-item">Correct work without CSS и JS</li>
				<li class="description__block-item">Component Layout</li>
				<li class="description__block-item">Image Optimization</li>
			</ul>
		</section>
		<section class="description__block">
			<h3 class="description__block-title">Used Technologies</h3>
			<ul class="description__block-list">
				<li class="description__block-item">HTML5/Pug, CSS3/SASS</li>
				<li class="description__block-item">Javascript, TypeScript</li>
				<li class="description__block-item">NodeJS + MongoDB</li>
				<li class="description__block-item">Angular 7+, RxJs, NgRx</li>
				<li class="description__block-item">Task runner Gulp</li>
				<li class="description__block-item">Grid, Flexbox and BEM metodology</li>
			</ul>
		</section>
	</div>
	<main class="grid__wrapper">
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">SPA “Multilingual Library «JBOOK»”</h2>
					<p class="work__tags"><a class="work__tag">Design, Layout, Angular, Express, MongoDB</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--jbook">
							<picture>
								<source media="(min-width: 769px)" srcset="img/jbook-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/jbook-tb-1x.jpg" srcset="" alt="Multilingual Library «JBOOK»">
							</picture>
						</div>
						<section class="work__cover work__cover--jbook">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Progressive Web Application</li>
									<li class="work__feature">Angular Universal for search engines</li>
									<li class="work__feature">Using "Material Design" framework</li>
									<li class="work__feature">BackEnd with Express + MongoDB</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/book" class="work__btn work__btn--jbook" target="_blank">View Code</a>
								<a href="https://pticha.jbook.club/" class="work__btn work__btn--jbook" target="_blank">Open website</a>
							</div>
						</section>
					</div>
				</section>
			</div>
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Educational Quizzes “Pumping Tests”</h2>
					<p class="work__tags"><a class="work__tag">Design, Layout, Express, MongoDB</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--tests">
							<picture>
								<source media="(min-width: 769px)" srcset="img/tests-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/tests-tb-1x.jpg" srcset="" alt="Educational quizzes “Pumping Tests”">
							</picture>
						</div>
						<section class="work__cover work__cover--tests">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Using "Material Design" framework</li>
									<li class="work__feature">BackEnd with Node.js + MongoDB</li>
									<li class="work__feature">Sharing quizz results in 3 social networks</li>
									<li class="work__feature">Admin panel for quizzes's authors</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/quiz-cms" class="work__btn work__btn--tests" target="_blank">View Code</a>
								<a href="https://intense-chamber-18646.herokuapp.com/links/essentialism" class="work__btn work__btn--tests" target="_blank">Open website</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">SPA “English Words Trainer”</h2>
					<p class="work__tags"><a class="work__tag">Angular 7, NGRX, ANGULARFIRE2</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--words">
							<picture>
								<source media="(min-width: 769px)" srcset="img/words-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/words-tb-1x.jpg" srcset="" alt="English Words Trainer">
							</picture>
						</div>
						<section class="work__cover work__cover--words">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">User registration and authentication with Firebase</li>
									<li class="work__feature">Material Design components</li>
									<li class="work__feature">State management with NgRx</li>
									<li class="work__feature">Markup with angular/flex-layout</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="http://english-words-trainer.s3-website.eu-central-1.amazonaws.com/" class="work__btn work__btn--words" target="_blank">Open website</a>
								<a href="https://github.com/oleynichenko/english-words-trainer" class="work__btn work__btn--words" target="_blank">View Code</a>
							</div>
						</section>
					</div>
				</section>
			</div>
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">SPA “Time Tracker”</h2>
					<p class="work__tags"><a class="work__tag">Angular 7, Bootstrap 3</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--time">
							<picture>
								<source media="(min-width: 769px)" srcset="img/time-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/time-tb-1x.jpg" srcset="" alt="Time Tracker">
							</picture>
						</div>
						<section class="work__cover work__cover--time">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Saving data in Local Storage</li>
									<li class="work__feature">Independence on page reloading</li>
									<li class="work__feature">Adding, deleting, pausing functions</li>
									<li class="work__feature">Edited task name</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/time-tracker" class="work__btn work__btn--time" target="_blank">View Code</a>
								<a href="http://time-tracker-we1r4s.s3-website-us-east-1.amazonaws.com" class="work__btn work__btn--time" target="_blank">Open website</a>
							</div>
						</section>
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Single Page Application “Recipe Book”</h2>
					<p class="work__tags"><a class="work__tag">Angular 7, NGRX, firebase, Bootstrap 3</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--recipe">
							<picture>
								<source media="(min-width: 769px)" srcset="img/recipe-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/recipe-tb-1x.jpg" srcset="" alt="Recipe Book">
							</picture>
						</div>
						<section class="work__cover work__cover--recipe">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">User registration and authentication with Firebase</li>
									<li class="work__feature">Lazy loading modules</li>
									<li class="work__feature">State management with NgRx</li>
									<li class="work__feature">Using Firebase SDK</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/recipe-book-ngrx" class="work__btn work__btn--recipe" target="_blank">View Code</a>
								<a href="http://recipe-book12345.s3-website.eu-central-1.amazonaws.com/" class="work__btn work__btn--recipe" target="_blank">Open website</a>
							</div>
						</section>
					</div>
				</section>
			</div>
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">SPA “Fitness Tracker”</h2>
					<p class="work__tags"><a class="work__tag">Angular 7, NgRx, Angularfire2</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--fitness">
							<picture>
								<source media="(min-width: 769px)" srcset="img/fitness-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/fitness-tb-1x.jpg" srcset="" alt="Fitness Tracker">
							</picture>
						</div>
						<section class="work__cover work__cover--fitness">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Registration and authentication</li>
									<li class="work__feature">Material Design components</li>
									<li class="work__feature">Markup with angular/flex-layout</li>
									<li class="work__feature">Database with angularfire2</li>
									<li class="work__feature">Firebase hosting</li>
								</ul>
							</div> 
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/fitness-tracker-ngrx" class="work__btn work__btn--fitness" target="_blank">View Code</a>
								<a href="https://fitness-tracker-221a4.firebaseapp.com" class="work__btn work__btn--fitness" target="_blank">Open website</a>	
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Online Chat</h2>
					<p class="work__tags"><a class="work__tag">Node, Socket.io, mustache.js</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--chat">
							<picture>
								<source media="(min-width: 769px)" srcset="img/chat-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/chat-tb-1x.jpg" srcset="" alt="Online Chat">
							</picture>
						</div>
						<section class="work__cover work__cover--chat">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Using Socket.IO library</li>
									<li class="work__feature">Ability to share your geolocation</li>
									<li class="work__feature">Unlimited number of chat rooms</li>
									<li class="work__feature">No messages raising while reading history</li>
									<li class="work__feature">Templates with mustache.js</li>
								</ul>
							</div> 
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/chat-app" class="work__btn work__btn--chat" target="_blank">View Code</a>
								<a href="https://young-spire-74686.herokuapp.com" class="work__btn work__btn--chat" target="_blank">Open website</a>
							</div>
						</section> 
					</div>
				</section>
			</div>			
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Console Trainer “Typing Practice”</h2>
					<p class="work__tags"><a class="work__tag">Node, Yargs</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--typing">
							<picture>
								<source media="(min-width: 769px)" srcset="img/typing-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/typing-tb-1x.jpg" srcset="" alt="Console trainer “Typing Practice”">
							</picture>
						</div>
						<section class="work__cover work__cover--typing">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Adding/deleting words for typing practice</li>
									<li class="work__feature">Selecting the number of words for the round</li>
									<li class="work__feature">Tracking progress in each round</li>
									<li class="work__feature">Saving results to a local file</li>
									<li class="work__feature">Effective motivation system</li>
								</ul>
							</div> 
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/typing-practice" class="work__btn work__btn--typing" target="_blank">View Code</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Encyclopedia “Alphabet of Faith”</h2>
					<p class="work__tags"><a class="work__tag">Design</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--azbyka">
							<picture>
								<source media="(min-width: 769px)" srcset="img/azb-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/azb-tb-1x.jpg" srcset="" alt="Encyclopedia “Alphabet of Faith”">
							</picture>
						</div>
						<section class="work__cover work__cover--azbyka">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Analog color scheme</li>
									<li class="work__feature">Canonical book proportions according Jan Tschichold</li>
									<li class="work__feature">Grid 8px</li>
									<li class="work__feature">Made with Adobe XD</li>
								</ul>
							</div> 
							<div class="work__btns">
								<a href="https://www.behance.net/gallery/70632601/Azbykaru-redesign" class="work__btn work__btn--azbyka" target="_blank">Open layouts</a>
							</div>
						</section> 
					</div>
				</section>
			</div>			
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Slider with SVG Gradient Background</h2>
					<p class="work__tags"><a class="work__tag">Javascript, SVG</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--slider">
							<picture>
								<source media="(min-width: 769px)" srcset="img/slider-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/slider-tb-1x.jpg" srcset="" alt="Slider with SVG background">
							</picture>
						</div>
						<section class="work__cover work__cover--slider">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Changing to vertical state on small screens</li>
									<li class="work__feature">Moving gradient background </li>
									<li class="work__feature">Automatic moving to the nearest position</li>
									<li class="work__feature">"Drag and drop" feature</li>
								</ul>
							</div> 
							<div class="work__btns">
								<a href="https://codepen.io/oleynichenkos/pen/BMQVgg" class="work__btn work__btn--slider" target="_blank">View on CODEPEN</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Online Store “Device”</h2>
					<p class="work__tags"><a class="work__tag">layout, Design</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--device">
							<picture>
								<source media="(min-width: 769px)" srcset="img/device-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/device-tb-1x.jpg" srcset="" alt="Online Store “Device”">
							</picture>
						</div>
						<section class="work__cover work__cover--device">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Design completion to 1200 px</li>
									<li class="work__feature">Sliders without JavaScript</li>
									<li class="work__feature">Centered responsive grid on "Catalog" page</li>
									<li class="work__feature">Pop-ups with static pages for disabled JavaScript</li>
									<li class="work__feature">Adaptive search form</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/device" class="work__btn work__btn--device" target="_blank">View Code</a>
								<a href="https://oleynichenko.github.io/device/index.html" class="work__btn work__btn--device" target="_blank">Open website</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Browser Game “Pixel-Hunter”</h2>
					<p class="work__tags"><a class="work__tag">javascript</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--device">
							<picture>
								<source media="(min-width: 769px)" srcset="img/pixel-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/pixel-tb-1x.jpg" srcset="" alt="Browser Game “Pixel-Hunter”">
							</picture>
						</div>
						<section class="work__cover work__cover--pixel">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Single Page Application</li>
									<li class="work__feature">Saving last 10 game results</li>
									<li class="work__feature">MVP pattern </li>
									<li class="work__feature">Using ES-6</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/pixel-hunter" class="work__btn work__btn--pixel" target="_blank">View Code</a>
								<a href="https://oleynichenko.github.io/pixel-hunter/" class="work__btn work__btn--pixel" target="_blank">Open website</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Website “Barbershop Borodinski”</h2>
					<p class="work__tags"><a class="work__tag">layout</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--brb">
							<picture>
								<source media="(min-width: 769px)" srcset="img/brb-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/brb-tb-1x.jpg" srcset=""alt="Website “Barbershop Borodinski”">
							</picture>
						</div>
						<section class="work__cover work__cover--brb">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Adaptive images for Retina displays</li>
									<li class="work__feature">3 breakpoints</li>
									<li class="work__feature">Slider without JavaScript</li>
									<li class="work__feature">BEM-methodology</li>
									<li class="work__feature">Semantiс HTML markup</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/barbershop" class="work__btn work__btn--brb" target="_blank">View Code</a>
								<a href="https://oleynichenko.github.io/barbershop/index.html" class="work__btn work__btn--brb" target="_blank">Open website</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Website “Personal Pilates Training”</h2>
					<p class="work__tags"><a class="work__tag">Design</a>, <a class="work__tag">layout</a>, <a class="work__tag">Php</a>, <a class="work__tag">javascript</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--pilates">
							<picture>
								<source media="(min-width: 769px)" srcset="img/pilates-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/pilates-tb-1x.jpg" srcset=""alt="Website “Personal Pilates Training”">
							</picture>
						</div>
						<section class="work__cover work__cover--pilates">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">Adaptive text blocks and images</li>
									<li class="work__feature">Animated images</li>
									<li class="work__feature">SVG icons</li>
									<li class="work__feature">Adaptive feedback form</li>
									<li class="work__feature">One color tone of the project</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/pilates" class="work__btn work__btn--pilates" target="_blank">View Code</a>
								<a href="https://pilates-trainer.github.io" class="work__btn work__btn--pilates" target="_blank">Open website</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">API: Organizer “ToDo App”</h2>
					<p class="work__tags"><a class="work__tag">Node, Express.js, mongoose, jsonwebtoken</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--todo">
							<picture>
								<source media="(min-width: 769px)" srcset="img/todo-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/todo-tb-1x.jpg" srcset="" alt="ToDo App">
							</picture>
						</div>
						<section class="work__cover work__cover--todo">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Project features</h3>
								<ul class="work__features">
									<li class="work__feature">User registration and authentication</li>
									<li class="work__feature">Authorization with JSON Web Tokens</li>
									<li class="work__feature">MongoDB from Mlab</li>
									<li class="work__feature">bcryptjs for confidential data</li>
									<li class="work__feature">Tests with mocha, supertest и expect </li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/Todo-App" class="work__btn work__btn--todo" target="_blank">View Code</a>
							</div>
						</section>
					</div>
				</section>
			</div>
		</div>
	</main>
	include partials/_footer.pug
</body>
</html>