<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Alexandr Oleynichenko - Portfolio</title>
	<meta name="description" content="Портфолио веб-разработчика и дизайнера Александра Олейниченко">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|PT+Serif:400,400i&amp;subset=cyrillic" rel="stylesheet">
	include partials/_page_head.pug
</head>
<body>
	include partials/_header.pug
	+header()
	<div class="description">
		<section class="description__block">
			<h3 class="description__block-title">Характеристики проектов</h3>
			<ul class="description__block-list">
				<li class="description__block-item">Кросcбраузерность (IE11+)</li>
				<li class="description__block-item">Адаптивность и резиновость</li>
				<li class="description__block-item">Семантиченая верстка</li>
				<li class="description__block-item">Корректность работы без CSS и JS</li>
				<li class="description__block-item">Компонентная верстка</li>
				<li class="description__block-item">Фавикон и иконки для всех устройств</li>
				<li class="description__block-item">Оптимизация изображений</li>
			</ul>
		</section>
		<section class="description__block">
			<h3 class="description__block-title">Используемые технологии</h3>
			<ul class="description__block-list">
				<li class="description__block-item">HTML 5, CSS 3</li>
				<li class="description__block-item">Шаблонизатор Pug (Jade)</li>
				<li class="description__block-item">Препроцессор Sass</li>
				<li class="description__block-item">Сборка Gulp</li>
				<li class="description__block-item">БЭМ классы</li>
				<li class="description__block-item">Flexbox</li>
			</ul>
		</section>
	</div>
	<main class="grid__wrapper">
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Парикмахерская “Borodinski”</h2>
					<p class="work__tags"><a class="work__tag">верстка</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--brb">
							<picture>
								<source media="(min-width: 769px)" srcset="img/brb-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/brb-tb-1x.jpg" srcset=""alt="Сайт персональных тренировок по пилатесу">
							</picture>
						</div>
						<section class="work__cover work__cover--brb">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Особенности выполненной работы</h3>
								<ul class="work__features">
									<li class="work__feature">Адаптивные изображений под Retina экраны</li>
									<li class="work__feature">3 брейкпоинта</li>
									<li class="work__feature">Перестраиваемая в список таблица „Прейскурант“</li>
									<li class="work__feature">Слайдеры без JavaScript</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/barbershop" class="work__btn work__btn--brb" target="_blank">Посмотреть код</a>
								<a href="https://oleynichenko.github.io/barbershop/index.html" class="work__btn work__btn--brb" target="_blank">Открыть сайт</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Персональные тренировки по пилатесу</h2>
					<p class="work__tags"><a class="work__tag">дизайн</a>, <a class="work__tag">верстка</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--pilates">
							<picture>
								<source media="(min-width: 769px)" srcset="img/pilates-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/pilates-tb-1x.jpg" srcset=""alt="Сайт персональных тренировок по пилатесу">
							</picture>
						</div>
						<section class="work__cover work__cover--pilates">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Особенности выполненной работы</h3>
								<ul class="work__features">
									<li class="work__feature">Адаптивность текста и изображений главного блока</li>
									<li class="work__feature">Анимация изображений</li>
									<li class="work__feature">Один цветовой тон проекта</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="" class="work__btn work__btn--pilates" target="_blank">Посмотреть код</a>
								<a href="https://pilatestrener.kiev.ua" class="work__btn work__btn--pilates" target="_blank">Открыть сайт</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
		<div class="grid__row">
			<div class="grid__col grid__col--tb-50">
				<section class="work">
					<h2 class="work__title">Интернет-магазин “Device”</h2>
					<p class="work__tags"><a class="work__tag">верстка, дизайн</a></p>
					<div class="work__content">
						<div class="work__photo work__photo--device">
							<picture>
								<source media="(min-width: 769px)" srcset="img/device-ds-1x.jpg">
								<source media="" srcset="">
								<img src="img/device-tb-1x.jpg" srcset="" alt="Интернет-магазин “Device”">
							</picture>
						</div>
						<section class="work__cover work__cover--device">
							<div class="work__cover-content">
								<h3 class="work__cover-title">Особенности выполненной работы</h3>
								<ul class="work__features">
									<li class="work__feature">Доработка дизайна до 1200 px</li>
									<li class="work__feature">Слайдеры без JavaScript</li>
									<li class="work__feature">Центрируемая резиновая сетка на странице „Каталог “</li>
									<li class="work__feature">Pop-up окна с статическими страницы для отключенного JS</li>
									<li class="work__feature">Адаптивная форма поиска</li>
								</ul>
							</div>
							<div class="work__btns">
								<a href="https://github.com/oleynichenko/device" class="work__btn work__btn--device" target="_blank">Посмотреть код</a>
								<a href="https://oleynichenko.github.io/device/index.html" class="work__btn work__btn--device" target="_blank">Открыть сайт</a>
							</div>
						</section> 
					</div>
				</section>
			</div>
		</div>
	</main>
	include partials/_footer.pug
	include partials/_page_bottom.pug
</body>
</html>